@import 'bootstrap/dist/css/bootstrap';

html, body {
  height: 100%;
}

.navbar {
  background-color: black !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.nav-link {
  color: white !important;
}

.jumbotron {
  margin-bottom: 0px;
  position: relative;
  background: none;
  color: #DEDDDB;
}

#home-container {
  margin-top: 25px;
}

.jumbotron .bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: asset-url('jumbo-copy.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  height: 425px;
}

#page-content {
  flex: 1 0;
  background-color: rgb(228, 228, 228);
}

#sticky-footer {
  flex-shrink: none;
}

#jumbotron-text {
  color: white;
  text-shadow: 0 1px black;
  background: #333;
  background: rgba(0, 0, 0, 0.55);
  padding: 4px 8px;
  padding-bottom: 15px;
  position: absolute;
}

@media (min-width: 100px) {
  .card-columns {
      column-count: 3;
  }
}

@media (min-width:768px) {
  .card-deck > .card
  {
      width: 29%;
      flex-wrap: wrap;
      flex: initial; 
  }
}

.card-body {
  width: 100%;
}

.card-text > p > img {
  width: 100%;
  object-fit: cover;
}

.apple_pagination {
  background: #e4e4e4;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }