<h1 class="text-center mt-4">Edit category name</h1>

<div class="container">
  <%= render "form" %>
  <div class="mb-3">
    <%= link_to "[ Cancel and return to category ]", category_path(@category), class: "row justify-content-center text-info" %>
  </div>
</div>