<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright @ <%= link_to "Cosgun Hussein", "https://mistercxmpy.github.io/cosgun-hussein/", class: "text-white" %></small>
  </div>
</footer>